<header class="header">
    <nav class="navbar menu">
        <div class="navbar-brand">
            <div class="navbar-item">
                <strong>{{nombreEmpresa}}</strong>
            </div>
            <a role="button" 
                class="navbar-burger burger" 
                aria-label="menu" 
                aria-expanded="false" 
                (click)="activarMenuBurger()">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu"
                [ngClass]="menuActivo ? 'is-active' : ''">
            <div class="navbar-end">
                <div [ngClass]="menuActivo ? 'navbar-item has-dropdown is-active' : 'navbar-item has-dropdown'"
                    (mouseover)="establecerEstiloMenuUsuario($event)"
                    (mouseout)="establecerEstiloMenuUsuario($event)">
                    <a class="navbar-link">
                        {{nombreUsuario}}
                    </a>
            
                    <div class="navbar-dropdown is-right is-boxed">
                        <a 
                            class="navbar-item">
                            {{labels.cerrarSesion}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<a id="btn-ver-menu" 
    class="button is-primary"
    [@ocultarMenu]="btnVerMenuLateralVisible ? 'visible' : 'oculto'"
    (@ocultarMenu.done)="establecerEstadoMenuLateral()"
    (click)="ocultarBtnVerMenu()">
    <i class="fas fa-bars"></i>
</a>

<aside #menuLateral
    id="menu-lateral" 
    [@ocultarMenu]="menuLateralVisible ? 'visible' : 'oculto'"
    (@ocultarMenu.done)="establecerEstadoBtnVerMenu()">
    
    <div class="has-text-right">
        <a id="btn-cerrar-menu">
            <span 
                class="icon is-small has-text-dark"
                (click)="ocultarMenuLateral()">
                <i class="fas fa-times"></i>
            </span>
        </a>
    </div>

    <ul class="menu-list-item">
        <!-- *ngFor="let opcion of opcionesMenu" -->
        <li class="menu-item">

            <!-- <a [routerLink]="[opcion.route]" [routerLinkActive]="['menu-activo']">
                <i [ngClass]="[opcion.icono]"></i>
                {{ opcion.nombre }}
            </a> -->

            <a class="menu-activo">
                <i class="fas fa-user"></i>
                Personas
            </a>

        </li>

        <li class="menu-item">

            <!-- <a [routerLink]="[opcion.route]" [routerLinkActive]="['menu-activo']">
                <i [ngClass]="[opcion.icono]"></i>
                {{ opcion.nombre }}
            </a> -->

            <a>
                <i class="fas fa-user"></i>
                Facturas
            </a>

        </li>

    </ul>    
</aside>

<!-- [ngClass]="menuLateralVisible ? 'seccion-componentes menu-visible' : 'seccion-componentes menu-oculto'" -->
<section #divContenedor 
        class="seccion-componentes"
        [@establecerTamannoContenedor]="menuLateralVisible ? 'menu-visible' : 'menu-oculto'">
    <div>
        
        <div class="field is-horizontal">
            <div class="field-label is-normal"><label class="level-left">Campo</label></div>
            <div class="field-body"><input type="text" class="input"></div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal"><label class="level-left">Campo</label></div>
            <div class="field-body"><input type="text" class="input"></div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal"><label class="level-left">Campo</label></div>
            <div class="field-body"><input type="text" class="input"></div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal"><label class="level-left">Campo</label></div>
            <div class="field-body"><input type="text" class="input"></div>
        </div>

    </div>
</section>
