<div #divForm class="form-filtros">
    
    <div class="field">

        <div class="control is-expanded has-icons-left">
            
            <input 
                class="input"
                type="text" 
                name="filtro"
                placeholder="{{labels.buscar}}"
                [(ngModel)]="filtro">

            <span class="icon is-small is-left">
                <i class="fas fa-search"></i>
            </span>

        </div>

    </div>

</div>

<div #divTabla class="div-tabla" [style.height.px]="altoTabla">

    <table class="table is-fullwidth is-bordered">

        <thead>
            <tr>
                <th width="20%">{{columnas.numeroDocumento}}</th>
                <th>{{columnas.nombreCompleto}}</th>
                <th width="15%">{{columnas.tipoPersona}}</th>
                <th *ngIf="!esBuscador" width="10%">{{columnas.acciones}}</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let persona of personas | filtroPersonas: [ filtro ]"
                (click)="onPersonaSeleccionada(persona.id, true)">
                <td>{{persona.numeroDocumento}}</td>
                <td>{{!!persona.razonSocial ? persona.razonSocial : persona.nombres + ' ' + persona.apellidos}}</td>
                <td>{{persona.tipo.nombre}}</td>
                <td *ngIf="!esBuscador">

                    <div class="buttons is-centered">
                        <button 
                            (click)="onPersonaSeleccionada(persona.id)"
                            class="button is-primary is-small">
                            <span class="icon is-small">
                                <i class="fas fa-user-edit"></i>
                            </span>
                        </button>
                    </div>

                </td>
            </tr>
        </tbody>

    </table>

</div>