<div [ngClass]="listadoActivo ? 'dropdown is-active' : 'dropdown'">
    
    <div class="dropdown-trigger">

        <input 
            type="text" 
            name="producto"
            class="input is-uppercase"
            placeholder="{{labels.producto}}"
            [(ngModel)]="filtroProducto"
            (keyup)="onChangedBusquedaProducto($event.key)">

    </div>

    <div class="dropdown-menu">

        <div class="dropdown-content">

            <a [ngClass]="itemActivo == producto ? 'dropdown-item is-active' : 'dropdown-item'"
                *ngFor="let producto of productosFiltrados"
                (click)="establecerProducto(producto.referencia)">
                {{producto.referencia}}: {{producto.detalle}}
            </a>

        </div>

    </div>

</div>