<div #divForm class="form-filtros">

    <form autocomplete="off">

        <!-- Referencia -->

        <div class="field is-horizontal">
            <div class="field-label">
                <label class="level-left">{{labels.referencia}}</label>
            </div>
            <div class="field-body">

                <div class="control">
                    <input 
                        class="input is-small is-uppercase"
                        type="text"
                        name="referencia"
                        [(ngModel)]="producto.referencia">
                </div>

            </div>
        </div>

        <!-- FIN: Referencia -->

        <!-- Detalle -->

        <div class="field is-horizontal">
            <div class="field-label">
                <label class="level-left">{{labels.detalle}}</label>
            </div>
            <div class="field-body">

                <input 
                    class="input is-small is-uppercase"
                    type="text"
                    name="detalle"
                    [(ngModel)]="producto.detalle">

            </div>
        </div>

        <!-- FIN: Detalle -->

        <!-- Cantidad -->

        <div class="field is-horizontal">
            <div class="field-label">
                <label class="level-left">{{labels.cantidad}}</label>
            </div>
            <div class="field-body">

                <div class="field is-grouped">

                    <div 
                        class="control"
                        [attr.data-tooltip]="producto.cantidadDisponible == null ? null : labels.cantidadDisponible">
                        <input
                            class="input is-small"
                            type="number"
                            name="cantidadDisponible"
                            [(ngModel)]="producto.cantidadDisponible"
                            placeholder="{{labels.cantidadDisponible}}">
                    </div>

                    <div 
                        class="control"
                        [attr.data-tooltip]="producto.cantidadInterna == null ? null : labels.cantidadInterna">
                        <input
                            [attr.data-tooltip]="labels.cantidadInterna"
                            class="input is-small"
                            type="number"
                            name="cantidadInterna"
                            [(ngModel)]="producto.cantidadInterna"
                            placeholder="{{labels.cantidadInterna}}">
                    </div>

                </div>

            </div>
        </div>

        <!-- FIN: Cantidad -->

        <!-- Precio -->

        <div class="field is-horizontal">
            <div class="field-label">
                <label class="level-left">{{labels.precio}}</label>
            </div>
            <div class="field-body">

                <div class="control">
                    <input 
                        class="input is-small has-text-right"
                        type="text"
                        name="precio"
                        [(ngModel)]="producto.precio">
                </div>

            </div>
        </div>

        <!-- FIN: Precio -->

        <!-- Botones -->

        <div class="field is-grouped is-grouped-right">
            
            <div class="control">
                <button 
                    class="button is-small is-primary"
                    (click)="guardar()">{{botones.guardar}}</button>
            </div>

            <div class="control">
                <button 
                    class="button is-small is-danger"
                    [disabled]="producto.id == 0"
                    (click)="deshabilitarProducto()">{{botones.eliminar}}</button>
            </div>

            <div class="control">
                <button 
                    class="button is-small"
                    (click)="limpiarProducto()">
                    <span class="icon has-text-primary"><i class="fas fa-eraser"></i></span>
                </button>
            </div>

        </div>

        <!-- FIN: Botones -->

    </form>

</div>

<div #divTabla class="box">

    <div class="field">
        <div class="control has-icons-left">
            
            <input
                class="input is-small is-uppercase"
                type="text"
                name="filtroProductos"
                [(ngModel)]="filtroProductos"
                placeholder="{{labels.buscar}}">

            <span class="icon is-small is-left">
                <i class="fas fa-search"></i>
            </span>

        </div>
    </div>

    <div class="div-tabla is-size-7" [style.height.px]="altoDivTabla">

        <table class="table is-fullwidth is-bordered">
    
            <thead>
                <tr>
                    <th width="15%">{{columnas.referencia}}</th>
                    <th>{{columnas.detalle}}</th>
                    <th width="10%">{{columnas.acciones}}</th>
                </tr>
            </thead>
    
            <tbody>
    
                <tr *ngFor="let producto of productos | filtroProductos: [ filtroProductos ]">
                    <td>{{producto.referencia}}</td>
                    <td>{{producto.detalle}}</td>
                    <td>
    
                        <div class="buttons is-centered">
                            <button 
                                class="button is-small is-primary"
                                (click)="consultarPorId(producto.id)">
                                <span class="icon">
                                    <i class="fas fa-edit"></i>
                                </span>
                            </button>
                        </div>
    
                    </td>
                </tr>
    
            </tbody>
    
        </table>
    
    </div>

</div>