<div #divForm class="form-filtros">

    <form autocomplete="off">

        <!-- Fecha -->

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="level-left">{{labels.fecha}}</label>
            </div>
            <div class="field field-body">
                
                <div class="control">

                    <input 
                        class="input"
                        type="date"
                        name="fecha"
                        [(ngModel)]="prestamo.fecha">

                </div>

            </div>
        </div>

        <!-- FIN: Fecha -->

        <!-- Fecha de entrega -->

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label for="" class="level-left">{{labels.fechaEntrega}}</label>
            </div>
            <div class="field field-body">
                <div class="control">
                    <input 
                        class="input"
                        type="date" 
                        name="fechaEntrega"
                        [(ngModel)]="prestamo.fechaEntrega"
                        disabled>
                </div>
            </div>
        </div>

        <!-- FIN: Fecha de entrega -->

        <!-- Distribuidor -->

        <app-txt-persona #txtDistribuidor
            #txtDistribuidor
            [labelPersona]="labels.distribuidor"
            [tipoPersona]="tipoPersonaDistribuidor"
            [persona]="prestamo.distribuidor">
        </app-txt-persona>

        <!-- FIN: Distribuidor -->

        <!-- Empleado -->

        <app-txt-persona #txtEncargado
            #txtDistribuidor
            [labelPersona]="labels.encargado"
            [tipoPersona]="tipoPersonaVendedor"
            [persona]="prestamo.encargado">
        </app-txt-persona>

        <!-- FIN: Empleado -->

        <!-- Notas -->

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="level-left">{{labels.notas}}</label>
            </div>
            <div class="field-body">

            <textarea 
                class="textarea"
                name="notas"
                [(ngModel)]="prestamo.notas">
            </textarea>

            </div>
        </div>

        <!-- FIN: Notas -->

        <!-- Detalles -->

        <div class="box">

            <div class="field is-grouped">
                
                <!-- Cantidad -->

                <div class="control txt-pequenno">
                    
                    <input 
                        class="input"
                        type="number"
                        placeholder="{{labels.cantidad}}"
                        name="cantidad"
                        [(ngModel)]="detalleActual.cantidad">

                </div>
                
                <!-- FIN: Cantidad -->

                <!-- Producto -->

                <div class="control is-expanded">
                    <div class="select is-fullwidth">
                        <app-select-productos
                            (productoSeleccionado)="productoSeleccionado($event)">
                        </app-select-productos>
                    </div>
                </div>

                <!-- Producto -->

                <div class="control">
                    <button 
                        class="button is-primary"
                        (click)="agregarDetalle()">
                        <span class="icon is-small">
                            <i class="fas fa-plus"></i>
                        </span>
                    </button>
                </div>

            </div>

        </div>

        <!-- FIN: Detalles -->

    </form>

</div>

<div #divTablaDetalles class="div-tabla" [style.height.px]="altoTablaDetalles">

    <table class="table is-fullwidth is-bordered">

        <thead>
            <tr>
                <th width="10%">{{columnas.cantidad}}</th>
                <th>{{columnas.producto}}</th>
                <th width="10%">{{columnas.acciones}}</th>
            </tr>
        </thead>

        <tbody>

            <tr *ngFor="let detalle of prestamo.detalles">
                <td>{{detalle.cantidad}}</td>
                <td>{{detalle.producto.detalle}}</td>
                <td>
                    <div class="buttons is-centered">
                        <button 
                            class="button is-danger"
                            (click)="eliminarDetalle(detalle)">
                            <span class="icon is-small">
                                <i class="fas fa-trash-alt"></i>
                            </span>
                        </button>
                    </div>
                </td>
            </tr>

        </tbody>

    </table>

</div>

<br>

<!-- Botones -->

<div class="field is-grouped is-grouped-right">

    <div class="control">
        <button 
            class="button is-primary"
            (click)="guardar()">
            {{botones.guardar}}
        </button>
    </div>

    <div class="control">
        <button class="button is-primary">
            {{botones.registrarEntrega}}
        </button>
    </div>

    <div class="control">
        <button 
            class="button is-danger"
            (click)="eliminar()">
            {{botones.eliminar}}
        </button>
    </div>

    <div class="control">
        <button 
            class="button"
            (click)="limpiar()">
            <span class="icon is-small has-text-primary">
                <i class="fas fa-eraser"></i>
            </span>
        </button>
    </div>

</div>

<!-- FIN: Botones -->