<div class="columns columns-form-login">

    <div class="column is-two-fifths"></div>
    
    <div class="column">

        <div class="box div-form-login">

            <h1 class="title has-text-centered">{{labels.mensajeLogin}}</h1>

            <form>

                <!-- Usuario -->
    
                <div class="field">
                    <div class="control has-icons-left">
    
                        <input 
                            type="text" 
                            name="usuario" 
                            class="input"
                            placeholder="{{labels.usuario}}"
                            [(ngModel)]="usuario">
    
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                </div>
    
                <!-- FIN: Usuario -->
    
                <!-- Contraseña -->
    
                <div class="field">
                    <div class="control has-icons-left">
    
                        <input 
                            type="password" 
                            name="contrasenna" 
                            class="input"
                            placeholder="{{labels.contrasenna}}"
                            [(ngModel)]="contrasenna"
                            (keyup)="keyupContrasenna($event.key)">
    
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </div>
                </div>
    
                <!-- FIN: Contraseña -->
    
                <div class="field">
                    <span class="tag is-danger is-light" *ngIf="mensaje">
                        {{mensaje}}
                    </span>
                </div>
    
                <!-- Botón de login -->
    
                <div class="field">
                    <a 
                        class="button is-primary is-fullwidth"
                        (click)="login()">
                        {{botones.login}}
                    </a>
                </div>
    
                <!-- FIN: Botón de login -->
    
            </form>

        </div>

    </div>

    <div class="column is-one-third"></div>

</div>