<div #divForm class="form-filtros">

    <div class="field is-grouped">

        <div class="control is-expanded has-icons-left">

            <input 
                class="input is-small is-uppercase"
                type="text" 
                placeholder="{{labels.buscar}}"
                name="filtro"
                [(ngModel)]="filtro">

            <span class="icon is-small is-left">
                <i class="fas fa-search"></i>
            </span>

        </div>

        <div class="control">

            <a 
                class="button is-small is-primary"
                [routerLink]="['/prestamo']">
                <span>
                    {{botones.nuevo}}
                </span>
                <span class="icon is-small">
                    <i class="fas fa-plus"></i>
                </span>
            </a>

        </div>

    </div>

</div>

<div class="div-tabla is-size-7" [style.height.px]="altoDivTabla">

    <table class="table is-bordered is-fullwidth">

        <thead>
            <tr>
                <th width="15%">{{columnas.documentoCliente}}</th>
                <th>{{columnas.nombreCliente}}</th>
                <th width="20%">{{columnas.fechaPrestamo}}</th>
                <th width="10%">{{columnas.acciones}}</th>
            </tr>
        </thead>

        <tbody>

            <tr *ngFor="let prestamo of listadoPrestamos | filtroPrestamos: [ filtro ]">

                <td>
                    {{prestamo.numeroDocumento}}
                </td>
                <td>
                    {{prestamo.nombre}}
                </td>
                <td>
                    {{prestamo.fechaPrestamo}}
                </td>
                <td>
                    
                    <div class="buttons is-centered">

                        <a 
                            class="button is-small is-primary"
                            [routerLink]="['/prestamo']" 
                            [queryParams]="{id: prestamo.id}">
                            <span class="icon is-small">
                                <i class="fas fa-edit"></i>
                            </span>
                        </a>
                    
                    </div>

                </td>

            </tr>

        </tbody>

    </table>

</div>