<div #divForm class="form-filtros">

    <div class="field is-grouped">

        <div class="control is-expanded has-icons-left">

            <input 
                class="input"
                type="text" 
                placeholder="{{labels.buscar}}"
                name="filtro"
                [(ngModel)]="filtro">

            <span class="icon is-small is-left">
                <i class="fas fa-search"></i>
            </span>

        </div>

        <div class="control">

            <a 
                class="button is-primary"
                [routerLink]="['/cotizacion']">
                <span>
                    {{botones.nuevo}}
                </span>
                <span class="icon is-small">
                    <i class="fas fa-plus"></i>
                </span>
            </a>

        </div>

    </div>

</div>

<div class="div-tabla" [style.height.px]="altoDivTabla">

    <table class="table is-bordered is-fullwidth">

        <thead>
            <tr>
                <th width="15%">{{columnas.documentoCliente}}</th>
                <th width="15%">{{columnas.fecha}}</th>
                <th>{{columnas.nombreCliente}}</th>
                <th width="10%">{{columnas.acciones}}</th>
            </tr>
        </thead>

        <tbody>

            <tr *ngFor="let cotizacion of listadoCotizaciones | filtroCotizaciones: [ filtro ]">

                <td>
                    {{cotizacion.numeroDocumento}}
                </td>
                <td>
                    {{cotizacion.fecha}}
                </td>
                <td>
                    {{cotizacion.nombre}}
                </td>
                <td>
                    
                    <div class="buttons is-centered">

                        <a 
                            class="button is-small is-primary"
                            [routerLink]="['/cotizacion']" 
                            [queryParams]="{id: cotizacion.id}">
                            <span class="icon is-small">
                                <i class="fas fa-edit"></i>
                            </span>
                        </a>
                    
                    </div>

                </td>

            </tr>

        </tbody>

    </table>

</div>

<div class="buttons is-right">
    <button 
        class="button is-success"
        (click)="exportarExcel()">
        <span>{{botones.excel}}</span>
        <span class="icon">
            <i class="fas fa-file-excel"></i>
        </span>
    </button>
</div>